
.user__profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user__info {
    display: flex;
    align-items: center;
gap: 6px;
font-weight: var(--fw500);
}
.btn {
    background-color: var(--white);
    border: none;
    font-weight: var(--fw600);
    padding: 6px 10px;
}