
.logotype {
    display: flex;
    align-items: center;
}

.menu__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}
.menu__container ul {
    display: flex;
    gap: 10px;


}

.mobile__menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: var(--black);
 
  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  
}



.mobile__menu menu {
  width: 100%;
}

.mobile__menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.mobile__menu li {
  flex: 1;
  text-align: center;
}

@media (min-width: 769px) {
  .mobile__menu {
    display: none;
  }
}
    @media (max-width: 768px) {
  .pc__menu {
    display: none;
  }
}