@import url('./main.scss');

html body {
    font-weight: 400    ;
    background-color: var(--black);
    color: var(--white);
}
ul,
li {
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 16px;
    @media screen and (max-width: 1200px) {
    padding: 0 14px;
  }

  @media screen and (max-width: 992px) {
    padding: 0 12px;
  }
}
