
:root {

    // colors
    --white: #ffffff;
    --black: #000000;
    --gray: #B5B5B5;
    --red: #FF0004;
    --green: #00FF5E;
    --cyan: #00FFFB;

    //font-size
    --fz10: 10px;
    --fz12: 12px;
    --fz14: 14px;
    --fz16: 16px;
    --fz18: 18px;
    --fz20: 20px;
    --fz22: 22px;
    --fz24: 24px;
    --fz26: 26px;
    --fz28: 28px;
    --fz30: 30px;

    //font-weight
    --fw300: 300;
    --fw400: 400;
    --fw500: 500;
    --fw600: 600;
    --fw700: 700;
    --fw800: 800;
    --fw900: 900;
    
    //
}